body{
    margin: 0;
}

.main-area{
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    width: 100vh;
    height: 100vh;
    background-color: greenyellow;
}
.snake-body{
    position: absolute;
    width: 3vh;
    height: 3vh;
    background-color: brown;
    border: 1px solid whitesmoke;
    z-index: 2;
}
